
# Set to true for local development with serverless-offline
IS_OFFLINE=true
AWS_REGION=ap-southeast-1
# Fake AWS credentials for local development (required for serverless-offline)
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
# Tables
USERS_TABLE_NAME=users-table-dev